

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-9">
        <p>Admin indexpage</p>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
